/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.spotify-logo {
    padding: 20px;
    width:150px;

}



header {
    display: flex;
    justify-content: space-between;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar {
width: 30%;
}

.navbar a {
 text-decoration: none;
 color: black;


}

.landing {
 margin: 0;
 background-size: cover;
 width: 100%;

}



.music-for-everyone {
    Position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white ;
    margin: auto;
    text-align: center;
  

    
}

.landing-content {
    Position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white ;
    margin: auto;
    text-align: center;

}


.what {
    text-align:center;
    font-size: 2em;
}

html {
    font-family:sans-serif
}

h3 {
    font-size: 1em;
}

.line {
    width: 30%;
    background-color: #00B172 ;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 3px;

}




.external-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}

.external-div img {
    width: 30%
}

h1 {
    font-size: 2em;;
}

#advantages h1 {
    
    align-items: center;

}