/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html {
    font-family: sans-serif;
    font-size: 16px;
  
  }

.spotify-logo {
  padding: 20px;
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
}

#navbar {
  width: 30%;
}

#navbar li {
  margin-left: 5px;
  margin-right: 5px;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;


}

.landing {
  margin: 0;
  background-size: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.music-for-everyone {
  position: absolute;
  font-size: 4em;
  color: white;
  text-align: center;

}

.landing-content {
  position: absolute;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 15%;


}

#advantages h1 {
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#advantages span {
  border-bottom: 3px solid #00b172;
  padding-bottom: 2px;
}


h3 {
  font-size: 1em;
}

.line {
  width: 30%;
  background-color: #00b172;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 3px;
}

.external-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#advantages .internal-div {
  text-align: center;
}

#advantages .external-div img {
  width: 30%;
}

h1 {
  font-size: 2em;
}

#advantages h2 {
  align-items: center;
  color: #00b172;
}


#green-section .external-div {
  background-color: #00b172;
}

#green-section span {
    border-bottom: 3px solid #fff;
    padding-bottom: 1px; 
  }
  
  internal-div2 {
    justify-content: center;


  }



#green-section .internal-div {
    width: 65%;
    margin: 5%;
    color: #FFF;
}


.white-spotify {
    width: 30%;
}

.app-img {
    width: 80%;
    margin-right: 5%;
}